<% @today_workout.each do |workout| %>
  <h3><%= link_to 'Today', athlete_workout_path(athlete, workout.id) %></h3>
  <%= simple_format(@link_filter.call(workout.workout)) %>
  <% if workout.coach_notes != '' %>
    <h5>Coach's Notes</h5>
    <%= simple_format(@link_filter.call(workout.coach_notes)) %>
  <% end %>
  <% if workout.results %>
    <h5>Results</h5>
    <%= simple_format(@link_filter.call(@today_workout[0].results)) %>
    <h5>Athlete Notes</h5>
    <%= simple_format(@link_filter.call(@today_workout[0].athlete_notes)) %>
  <% end %>
<% end %>
