<div class="coach-registration">
  <div class="field">
    <% if current_coach && current_coach == @athlete.coach %>
      <h2>New Workout</h2>
      <%= form_for [@athlete, @workout] do |f| %>
        <%= f.label :date %>
        <%= f.date_field :date %>
        <%= f.label :workout %>
        <%= f.text_area :workout, :class => 'big-field' %>
        <%= f.label :coach_notes %>
        <%= f.text_area :coach_notes, :class => 'medium-field' %>
        <%= f.submit 'Create Workout', :class => 'btn home-btn' %>
      <% end %>
    <% end %>
  </div>
</div>
