<div class="workout-nav">
  <% if @previous %>
    <%= link_to image_tag("prev-icon.png", class: 'prev'), athlete_workout_path(@athlete, @previous) %>
  <% end %>
  <% if @next %>
    <%= link_to image_tag("next-icon.png", class: 'next'), athlete_workout_path(@athlete, @next) %>
  <% end %>
  <h4 class="bordered"><%= @workout.try(:date).try(:strftime, ('%a %d %b %Y')) %></h4>
</div>

<p><%= simple_format(@link_filter.call(@workout.workout)) %></p>
<p><%= simple_format(@link_filter.call(@workout.coach_notes)) %></p>
<% if current_coach %>
  <p><%= link_to 'Edit Workout', edit_athlete_workout_path(@athlete, @workout), remote: true %></p>
  <p><%= link_to 'Delete Workout', athlete_workout_path(@athlete, @workout), :data => {:confirm => "Are you sure you want to delete this workout?", :method => "delete"} %></p>
<% end %>

<div id="workout-results">
  <%= render 'workout_results' %>
</div>
