<div class="coach-container">
  <div class="coach-registration coach-box">
    <h2><%= athlete.first_name %> <%= athlete.last_name %></h2>
    <div class="today-workout">
      <%= render 'workouts/today_workout' %>
    </div>
  </div>
  <div class="coach-registration coach-box">
    <div class="all-workouts">
      <%= render 'workouts/all_workouts' %>
    </div>
  </div>

  <div class="coach-registration coach-box">
    <div class="field">
      <%= form_tag coach_athlete_path(athlete.coach, athlete), :method => 'get', :id => 'search', remote: true do %>
      <p>
        <%= text_field_tag :search, params[:search] %>
        <%= submit_tag "Search", :term => nil, :class => 'btn home-btn' %>
      </p>
      <% end %>
    </div>
  </div>
  <!-- show and hide this on click -->
  <% if current_coach && (athlete.coach == current_coach) %>
    <div id="workout-form">
      <%= render 'workouts/workout_form' %>
    </div>
  <% end %>
    <%= link_to 'Delete Account', coach_athlete_path(athlete.coach, athlete), :data => {:confirm => "Are you sure you want to delete this profile?", :method => "delete"}, class: 'btn home-btn' %>
</div>
