<div class="coach-container">
  <div class="coach-registration">
    <h2>Change your password</h2>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>
    <%= f.hidden_field :reset_password_token %>

    <div class="field">
      <%= f.password_field :password, autofocus: true, autocomplete: "off", placeholder: 'New Password (6 characters minimum)' %>
    </div>

    <div class="field">
      <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: 'Confirm New Password' %>
    </div>

    <div class="actions">
      <%= f.submit "Change my password", class: 'btn home-btn' %>
    </div>
    <% end %>

    <%= render "athletes/shared/links" %>
  </div>
</div>
