<!DOCTYPE html>
<html>
  <head>
    <title>BeTrained</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if !current_page?(root_path) %>
      <div id="nav">
        <ul>
          <li><h2 class="center-align"><%= link_to "BeTrained", root_path %></h2></li>
          <% if current_coach %>
            <li><%= link_to "Log Out", destroy_coach_session_path, method: :delete, class: 'btn btn-home', id: 'logout' %></li>
          <% elsif current_athlete %>
            <li><%= link_to "Log Out", destroy_athlete_session_path, method: :delete, class: 'btn btn-home', id: 'logout' %></li>
          <% end %>
          <% if current_coach %>
            <li><%= link_to "Coach Console", coach_path(current_coach), class: 'btn btn-home console' %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <p class="notice"><%= notice %></p>
    <p class="notice"><%= alert %></p>
    <%= yield %>
  </body>
</html>
